.radio-container {
  display: flex;
  align-items: center;
  gap: 16px;
}


.radio-container__input {
  display: none;
}

.radio-container__label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 45px;
  width: 132px;
  cursor: pointer;
  border: 1px solid rgb(55, 57, 59);
  border-radius: 16px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: .2s ease-in-out
}

.radio-container__label:hover {
  border: 1px solid rgb(90, 92, 93);
}

.radio-container__input:checked+label {
  background: rgb(55, 57, 59);
  border: 1px solid transparent;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 16px;
}


.radio-container {
  display: flex;
  align-items: center;
  gap: 16px;
}


.radio-container__input {
  display: none;
}

.radio-container__label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 45px;
  width: 132px;
  color: var(--none-select);
  cursor: pointer;
  border: 1px solid var(--border-2);
  border-radius: 16px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: .2s ease-in-out
}

.radio-container__label:hover {
  border: 1px solid rgb(90, 92, 93);
}

.radio-container__input:checked+label {
  background: var(--select);
  color: inherit;
  border: 1px solid transparent;
}