.slider-container {
  display: flex;
  background: var(--background-secondary);
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
}

.slider-container input[type="number"] {
  text-align: center;
  margin: 0;
  max-width: 32px;
  margin-bottom: 5px;
  padding: 12px;
  font-weight: 500;
  font-size: 12px;
  color: var(--text-secondary);
  border: 1px solid var(--slider-background);;
  border-radius: 12px;
  background-color:  var(--background-secondary);
  font-family: 'Montserrat';

  text-align: center;
  letter-spacing: 0.01em;
}

.slider-container #slider {
  position: relative;
  margin: 0 auto;
  width: 168px;
  height: 1px;
  background: var(--slider-background);;
  border-radius: 5px;
  cursor: pointer;
}

.slider-container #slider #min {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 0;
  height: 1px;
  border-radius: 5px;
  background: var(--slider-background);
}

.slider-container #slider #min #min-drag {
  position: absolute;
  right: -7.5px;
  top: -5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--slider);
  transition: all 0.3s;
}

.slider-container #slider #min #min-drag:hover {
  box-shadow: 0 0 0 6px rgba(39, 70, 132, 0.2);
}

.slider-container #slider #max {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 0;
  height: 1px;
  border-radius: 5px;
  background: var(--slider);
}

.slider-container #slider #max #max-drag {
  position: absolute;
  right: -7.5px;
  top: -5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--slider);;
  transition: all 0.3s;
}

.slider-container #slider #max #max-drag:hover {
  box-shadow: 0 0 0 6px rgba(39, 70, 132, 0.2);
}

.slider-container input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-container input[type="number"] {
  -moz-appearance: textfield;
}