.filter-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filter-search {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 12px;
  border: 1px solid var(--border-1);
  border-radius: 120px;
  padding: 0 10px;
}

.search-icon {
  object-fit: contain;
}

.search-icon:first-child {
  fill: var(--text-primary);
}

.filter-search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
}

.filter-search__btn-icon {
  object-fit: contain;
}

.filter-search__input {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-search__input:focus::placeholder {
  color: transparent;
}

.filter-search__input::placeholder {
  opacity: 0.5;
  transition: .3s ease;
}

.filter-menu__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0;
}



.settings {
  width: 100%;
}