.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 10px;
  font-size: 14px;
  word-wrap: break-word;
  text-align: center;
}

.card__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
}

.card__name {
  font-weight: 700;
  line-height: 1.214em;
  letter-spacing: 0.01em;
}

.card__post {
  font-weight: 400;
  font-size: 0.857em;
  line-height: 1.071em;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.card__sport {
  font-weight: 400;
  font-size: 0.857em;
  line-height: 1.071em;
  letter-spacing: 0.01em;
}

.card__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 4px;
  width: 103px;
  height: 36px;
  border: 1px solid var(--border-card);
  border-radius: 77px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 0.714em;
  line-height: 0.857em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}