.checkbox__label {
  position: relative;
  cursor: pointer;
  color: var(--text-secondary);
  transition: .2s ease;
}

.checkbox__label:hover {
  color: var(--text-primary);
}

.checkbox__label:hover input::before {
  border-color: var(--text-primary);
}

.checkbox__input::before {
  content: " ";
  position: absolute;
  left: -24px;
  top: -2px;
  width: 13px;
  height: 13px;
  border: 1px solid var(--text-secondary);
  border-radius: 4px;
}

.checkbox__input:checked::before {
  background: url('/src/assets/icons/check.svg') no-repeat center center;
  border-color: var(--text-primary);
}

.checkbox__input:checked+span {
  color: var(--text-primary);
}