.settings__menu-item {
    border-top: 1px solid var(--line-filter);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__menu-item_close .arrow-icon {
    transform: rotate(0deg);
}

.settings__menu-item_close .settings__arrow {
    background-color: transparent;
}

.settings__menu-item_close + .settings__submenu {
    display: none;
}

.settings__name {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.settings__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--line-filter);
    border: 1px solid var(--line-filter);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in;
}

.arrow-icon {
    fill: var(--text-primary);
    transform: rotate(-180deg);
    transition: .3s ease;
    user-select: none;
}

.settings__arrow:hover {
    border-color: rgb(90, 92, 93);
}

.settings__submenu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-height: 180px;
    overflow: auto;
    scrollbar-width: 2px;
    scrollbar-color: rgba(255, 255, 255, 0.5);
    scrollbar-track-color: rgba(255, 255, 255, 0.1);
}

.settings__submenu::-webkit-scrollbar {
    width: 2px;
}

.settings__submenu::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

.settings__submenu::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.submenu__item {
    display: flex;
    align-items: center;
}

.submenu__item_gender {
    padding-left: 20px;
}

.settings__submenu_gender {
    margin-bottom: 14px;
}

.gender__label {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.02em;
}

.settings__submenu_with-chk {
    margin-bottom: 15px;
    padding-left: 24px;
}

.submenu_with-chk__item {
    min-height: 16px;
}

.submenu_with-chk__label {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.01em;
}

