:root {
  --background: #131517;
  --background-secondary: #1f2123;
  --text-primary: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.5);
  --border-1: rgba(255, 255, 255, 0.2);
  --border-2: rgb(55, 57, 59);
  --border-card: #ffffff;
  --select: rgb(55, 57, 59);
  --none-select: inherit;
  --line-filter: rgba(255, 255, 255, 0.05);
  --slider: #ffffff;
  --slider-background: #414244;

}

[data-theme='light'] {
  --background: #E5E5E5;
  --background-secondary: #FFFFFF;
  --text-primary: #000000;
  --text-secondary: #131517;
  --border-1: #E7EBF5;
  --border-2: #E7EBF5;
  --border-card: #E7EBF5;
  --select: #2F80ED;
  --none-select: rgba(105, 109, 123, 0.5);
  --line-filter: rgba(19, 21, 23, 0.05);
  --slider: #2F80ED;
  --slider-background: rgba(19, 21, 23, 0.15);
}

.App {
  height: 100vh;
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: var(--text-primary);
  scrollbar-width: 7px;
  scrollbar-color: rgba(255, 255, 255, 0.5);
  scrollbar-track-color: rgba(255, 255, 255, 0.1);
  overflow: auto;
}

.App::-webkit-scrollbar {
  width: 7px;
}

.App::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.App::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.main {
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
}

.theme-container {
  position: fixed;
  top: 0;
  padding-left: 5px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  background: inherit;
}

.theme__name {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.theme__radio {
  display: flex;
  gap: 35px;
  align-items: center;
}

.input_hidden {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.radio__label {
  position: relative;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  color: var(--text-secondary);
}

.theme__label {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02em;
}

.radio__label:hover {
  color: rgba(255, 255, 255, 0.7);
}

.radio__label:hover::before {
  border-color: rgba(255, 255, 255, 0.7);
}

.radio__input:checked+label {
  color: var(--text-primary);
}

.radio__label::before {
  position: absolute;
  left: -20px;
  top: 0;
  content: " ";
  height: 13px;
  width: 13px;
  border: 1px solid var(--text-primary);
  border-radius: 50%;
  background: transparent;
}

.radio__input:checked+label::before {
  border-color: var(--text-primary);
}

.radio__input:checked+label::after {
  position: absolute;
  left: -16.5px;
  top: 3.5px;
  content: " ";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: rgb(47, 128, 237);
}

.filter-container {
  position: absolute;
  left: 0;
  top: 94px;
  padding: 24px;
  width: 328px;
  background: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  border-radius: 16px;
  z-index: 1;
}

.container {
  position: absolute;
  left: 354px;
  top: 94px;
}

.list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 80px;
}

.list__item {
  background: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  border-radius: 16px;
}

.filter-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid var(--line-filter);
  border-top: 1px solid var(--line-filter);
  background: inherit;
  z-index: 2;
}

.filter-mobile__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.filter-mobile__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.filter-mobile__btn_close {

  border: 1px solid var(--line-filter);
  border-radius: 50%;
}


.filter-mobile__btn_close::before,
.filter-mobile__btn_close::after {
  content: " ";
  position: absolute;
  height: 12px;
  width: 1px;
  border-radius: 2px;
  background: var(--text-primary);
}

.filter-mobile__btn_close::before {
  transform: rotate(45deg);
}

.filter-mobile__btn_close::after {
  transform: rotate(-45deg);
}

.filter-mobile__icon {
  fill: var(--text-primary);
}

@media (max-width: 1439px) {
  .main {
    margin: 0 96px;
  }

  .card {
    padding: 16px;
  }
}

@media (max-width: 1161px) {
  .main {
    margin: 0 16px;
  }

  .card {
    font-size: 12px;
  }

}

@media (max-width: 767px) {
  .theme-container {
    position: static;
  }

  .filter-mobile {
    display: flex;
    position: static;
  }

  .filter-container {
    display: none;
  }

  .filter-container_mobile-open {
    display: block;
    margin: 15px auto;
    position: static
  }

  .filter-container_mobile-open+.container {
    display: none;
  }

  .container {
    position: absolute;
    left: unset;
    top: 125px;
  }

  .list {
    justify-content: center;
    gap: 12px;
  }

  .list__item {
    width: 158px;
  }
}