@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(/src/assets/fonts/Montserrat-Regular.woff2),
    url(/src/assets/fonts/Montserrat-Regular.woff);
}


@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(/src/assets/fonts/Montserrat-Medium.woff2),
    url(/src/assets/fonts/Montserrat-Medium.woff);
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(/src/assets/fonts/Montserrat-SemiBold.woff2),
    url(/src/assets/fonts/Montserrat-SemiBold.woff);
}


@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(/src/assets/fonts/Montserrat-Bold.woff2),
    url(/src/assets/fonts/Montserrat-Bold.woff);
}
